.green {
    background-color: green;
    color: white;
}

.red {
    background-color:red;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.selected {
    background-color: rgb(180, 223, 248);
    color: black;
}

h1 {
    font-size: 40px;
    margin-block-start: 0.6em;
    margin-block-end: 0em;
}

#quote span {
    padding: 0px 8px;
}

#quote span:hover {
    font-weight: 600;

}

#message span {
    padding: 0px 4px;
}

#quote {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 28px;
    padding: 0px 2vw;   
    margin-block-start: 0.5em;
    font-style: italic;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 0, 0);
    color: white;
}

#message {
    margin: 8px 0px;
    font-size: 1em;

}

#typed-value {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

button {
    padding: 5px 8px;
    margin-bottom: 10px;
    border: 0px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
}

button:hover, #quote span:hover {
    cursor: pointer;
}
